<div class="mt-2" data-new-record="<%= form.object.new_record? %>">
  <div class="flex items-center gap-2">
    <div class="flex-grow grid grid-cols-2 gap-2">
    <%= form.collection_select :caregiver_id,
        available_caregivers, :id, :full_name,
        { include_blank: false },
        { disabled: choice_disabled, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" } %>

      <%= form.select :relationship,
          ChildrenCaregiver.relationships.map { |k, _| [k.titleize, k] },
          { selected: form.object.relationship || "parent" },
          { class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" } %>
    </div>

    <%# Only show remove button for non-user caregivers %>
    <% unless form.object.caregiver_id == Current.user.caregiver.id %>
      <%= render "shared/button",
          variant: :danger,
          type: "button",
          data: { action: "click->child#remove" } do %>
        Remove
      <% end %>
    <% end %>

    <%= form.hidden_field :_destroy unless form.object.new_record? %>
  </div>
</div> 